@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');


:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #32CD30;
    --cor-hover: #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

/* EFEITO DE DIGITAÇAO */

.apresentacao__conteudo__titulo .titulo-destaque span.cursor{
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%  { background-color: #ccc; }
    49% { background-color: #ccc; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: #ccc; }
}

/* ------------------------------- */

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao {
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-hover);
}

.apresentacao__imagem {
    width: 50%;
}

.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

/* PROJETO */

.titulo__principal {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
    padding-bottom: 5%;
    color: var(--cor-terciaria);
}

.main__projeto {
    padding: 5%;
    box-sizing: border-box;
}
.section__projeto{
    display: flex;
    flex-direction: column;
    gap: 50%;
    align-items: center;

}

.container__projeto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    width: 70%;
}

.item__projeto {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.nav__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
}

.links__projeto {
    width: 100%;
    border: 2px solid var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
    text-align: center;
    border-radius: 8px;
    padding: 21.5px 0;
}

.img__projeto {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.descricao__projeto {
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;

}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }

    /* PROJETO */

    .section__projeto{
        width: auto;
    }

    .nav__links {
        width: auto;
    }

    .container__projeto {
        display: flex;
        flex-direction: column;
    }

}

@media (max-width: 500px) {
    .nav__links {
        flex-direction: column;
        gap: 10px;
    }

    .cabecalho {
        width: auto;
    }

    .cabecalho__menu {
        flex-direction: column;
        gap: 0;
    }
}